:root {
  --text: #fcf7f2;
  --background: #191919;
  --card: #393939;
  --row: #6b6b6b;
  --input: #eadb5a;
  --select: #e2b54c;
}

body {
  background-color: var(--background);
  color: var(--text);
  padding: 1vw;
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', 'Work Sans', sans-serif;
}
.fill {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}

.vidSelect,
.audSelect,
.sectionSelect,
.imgSelect,
.licenseSelect,
.metadataSelect {
  background-color: var(--select) !important;
}

.maxHeight {
  transition: max-height 0.2s ease-in-out;
}

.card {
  background-color: var(--card);
  padding: 3vw;
  border-radius: 8px;
  width: 40vw;
  margin-bottom: 25px;
}

.leftCard {
  margin-right: 1vw;
}

.rightCard {
  margin-left: 1vw;
}

.rowDisplay {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--row);
  border-radius: 8px;
  display: flex;
  overflow-y: hidden;
}

.optionBtn {
  border-radius: 20px;
  background-color: var(--card);
  padding: 10px;
  min-width: 110px;
  text-align: center;
  margin-right: 10px;
}

.isHovered:hover {
  cursor: pointer;
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
}
.isHovered {
  transition: filter 0.3s ease-in-out
}

.button {
  background-color: var(--row);
  padding: 12px;
  border-radius: 16px;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

select,
input[type=text],
input[type=number], textarea {
  padding: 5px;
  background-color: var(--row);
  border-radius: 8px;
  margin-left: 5px;
  color: var(--text);
  font-family: 'Work Sans', sans-serif;
  border: 1px solid var(--text);
  width: 35%;
}

input[type=text]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: var(--text);
}

input[type=text]::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--text);
}

input[type=text]:-moz-placeholder, textarea:-moz-placeholder {
  color: var(--text);
}

input[type=text]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: var(--text);
}

select {
  border: 1px solid var(--text);
  padding: 8px;
  width: max-content;
}

.dialog {
  position: fixed;
  top: 20vh;
  width: 75vw;
  margin-left: 10.5vw;
  z-index: 2;
  height: 60vh;
  background-color: var(--card);
  border: 2px solid var(--text);
  border-radius: 8px;
  overflow-y: scroll;
}

.small {
  width: 8vw !important;
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.switchContainer {
  display: flex;
  align-items: center;
}
.hcenter {
  justify-content: center;
}
.switchContainer > l{
  flex-shrink: 999;
}
/* Borrowed from W3Schools /*
/* The switch - the box around the slider */
.switch {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 8px !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 4px;
  background-color: var(--text);
  -webkit-transition: .4s;
  border-radius: 8px;
  transition: .4s;
}

input[type=range] {
  accent-color: var(--input);
  padding: 0px;
}

input[type=checkbox]:checked+.slider {
  background-color: var(--input);
}

input[type=checkbox]:focus+.slider {
  box-shadow: 0 0 1px var(--input);
}

input[type=checkbox]:checked+.slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

.opacity {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a,
.textcenter {
  color: var(--text);
  display: block;
  text-align: center;
}

progress {
  width: 100%;
  height: 18px;
  border-radius: 8px;
  color: var(--row);
}

progress::-webkit-progress-bar {
  border-radius: 8px;
}

progress::-webkit-progress-value {
  border-radius: 8px;
}

progress::-moz-progress-bar {
  border-radius: 8px;
}

progress::-moz-progress-bar {
  background: var(--select);
}

progress::-webkit-progress-value {
  background: var(--select);
}

.minWidth {
  min-width: 28%;
  width: 28%;
  margin-right: 2%;
  text-overflow: ellipsis;
}

.flexAdaptive {
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}

.width100 {
  width: 100%;
}

@media only screen and (max-width: 799px) {
  .flexAdaptive {
    display: block;
  }

  .card {
    width: 94%;
  }

  .leftCard {
    margin-right: 0px;
  }

  .rightCard {
    margin-left: 0px;
  }
}

.totalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular {
  background-color: var(--card);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.colorSelect {
  background-color: var(--card);
  border-radius: 8px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
}

.rightm {
  margin-right: 10px;
  padding: 10px !important
}

input[type=color] {
  background-color: var(--row);
  border-radius: 8px;
  height: 25px;
  border: 0px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 10px;
}

.close {
  position: fixed;
  right: 20px;
  top: 18px;
  width: 25px;
  height: 25px;
}

.fill {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}

.fetchStyle {
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.alert {
  position: fixed;
  margin-left: 15vw;
  margin-right: 15vw;
  z-index: 3;
  background-color: var(--row);
  width: 70vw;
  padding: 15px !important;
  border-radius: 8px;
}

.textName {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 8px;
}

.verticalcenter {
  display: flex;
  float: left;
  height: 100%;
  align-items: center;
  width: 100%;
}

.disabled {
  opacity: 0.5;
}

.limitWidth {
  width: 40vw;
}
.btnLicense {
  background-color: var(--row)
}
@-moz-document url-prefix() {
  div {
    scrollbar-width: none;
  }
}
.spinner {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 11.5px solid;
  border-color: var(--select);
  border-right-color: var(--background);
  animation: spinner-d3wgkg 0.8s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
     transform: rotate(1turn);
  }
}